// TODO

.homeContainer {
  margin: 0 160px;
  padding: 0 210px;
  
  article {
    margin: 48px 0;

    h1 {
      font-size: 28px;
      margin-bottom: 8px;
    }

    p {
      color: var(--light-gray);
      font-size: 18px;
      margin-bottom: 14px;
    }

    .infoContainer {
      color: var(--gray);
      display: flex;
      gap: 24px;

      section {
        display: flex;
        align-items: center;
        gap: 8px;

        svg {
          font-size: 1.25em;
        }
      }
    }
  }

  article:last-of-type {
    margin-bottom: 64px;
  }

  button {
    background: none;
    border: none;
    color: var(--pink);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
  }
}
